name: Code complexity analysis

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  scc_job:
    runs-on: [self-hosted, swift-docker]
    name: A job to count the lines of code.
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Get the lines of code.
        id: scc
        uses: iryanbell/scc-docker-action@v1.0.2
        with:
          args: /github/workspace
      - name: SCC
        run: |
          echo '${{ steps.scc.outputs.scc }}'
