name: macOS build

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, next ]

jobs:
  build-macos:
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        os: [macos-26]

    runs-on: ${{ matrix.os }}
    env:
      DEVELOPER_DIR: /Applications/Xcode_26.2.app/Contents/Developer

    steps:
    - uses: swift-actions/setup-swift@v2
      if: ${{ false }}
      with:
        swift-version: ${{ matrix.swift }}

    - name: Homebrew Mac
      if: ${{ runner.os == 'Macos' }}
      run: |
        echo "/opt/homebrew/bin:/usr/local/bin" >> $GITHUB_PATH
        echo BENCHMARK_DISABLE_JEMALLOC=true >> $GITHUB_ENV
        brew install jemalloc

    - uses: actions/checkout@v6

    - name: Start consul
      uses: ./.github/actions/consul-start

    - name: GH auth
      run: |
        echo "machine api.github.com login ${{ secrets.GITHUB_TOKEN }} password x-oauth-basic" > $HOME/.netrc
        cat ~/.netrc
    - name: Swift version
      run: swift --version
    - name: Build
      run: swift build
    - name: Run tests
      run: |
        if [ -d Tests ]; then
          swift test
        fi
    # Disable release tests now as there's a bug in Swift Testing with release builds and argument parser
    # and executable targets
    # - name: Run tests (release)
    #   run: |
    #     if [ -d Tests ]; then
    #       swift test -c release
    #     fi